{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('styles/css/notification.css') }}?v=1.0">
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('styles/javascript/notification.js') }}" defer></script>
{% endblock %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <h1>Vos notifications</h1>

<ul class="ul">
<ul class="notifications">
    {% for notification in notifications %}
        <li class="{% if not notification.isRead %}new-notification{% endif %}">
        <div class="date">
            {{ notification.createdAt|date('d/m/Y à H:i') }}
        </div>
            <a 
                href="{{ path('notification_open', { id: notification.id }) }}" 
                class="notification-link {{ notification.isRead ? 'message-lu' : 'message-non-lu' }}"
                data-notification-id="{{ notification.id }}"
            >
                {{ notification.isRead ? '' : '[Nouveau]' }} {{ notification.message }}
            </a>
        </li>
    {% else %}
        <li>Aucune notification disponible.</li>
    {% endfor %}
</ul>
{% endblock %}